<%- include('../../views/head') %>

    <%- include('../../views/header') %>
        <div class="container">
            <a href="/employees/employee-add" class="btn btn-success m-2">Add New Employee</a>
            <h3>Employees List</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Salary</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i<employees.length;i++) { %>
                        <tr>
                            <td>
                                <%= employees[i].name %>
                            </td>
                            <td>
                                <%= employees[i].position %>
                            </td>
                            <td>
                                <%= employees[i].salary %>
                            </td>
                            <td>
                                <a href="/employees/<%= employees[i]._id %>" class="btn btn-secondary">View Details</a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

        <%- include('../../views/footer') %>